<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h1>All Blogs</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum atque unde neque ut, facere sint dignissimos ducimus id quam rem, hic amet! Autem itaque, sint repudiandae ratione inventore aperiam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum atque unde neque ut, facere sint dignissimos ducimus id quam rem, hic amet! Autem itaque, sint repudiandae ratione inventore aperiam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum atque unde neque ut, facere sint dignissimos ducimus id quam rem, hic amet! Autem itaque, sint repudiandae ratione inventore aperiam!</p>
    </div>
    

    <%- include('./partials/footer.ejs') %>
</body>
</html>